async-timeout==4.0.2
attrs==21.4.0
Automat==20.2.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
constantly==15.1.0
cryptography==37.0.2
cssselect==1.1.0
Deprecated==1.2.13
filelock==3.4.1
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.8.3
incremental==21.3.0
itemadapter==0.6.0
itemloaders==1.0.4
jmespath==0.10.0
lxml==4.9.0
packaging==21.3
parsel==1.6.0
Protego==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
pyOpenSSL==22.0.0
pyparsing==3.0.9
queuelib==1.6.2
redis==4.3.3
requests==2.27.1
requests-file==1.5.1
Scrapy==2.6.1
service-identity==21.1.0
six==1.16.0
tldextract==3.1.2
Twisted==22.4.0
typing_extensions==4.1.1
urllib3==1.26.9
w3lib==1.22.0
wrapt==1.14.1
zipp==3.6.0
zope.interface==5.4.0
